/**
 * Loading modal
 */
.loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 9999;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

/**
 * Map
 */
#map {
    height: 500px;
}

#map_resize {
    height: 10px;
    background-color: black;
    cursor: row-resize;
}

/**
 * Dark theme
 */
/*noinspection CssUnusedSymbol*/
body.dark, body.dark .modal-body, body.dark .modal-header, body.dark .modal-footer, body.dark label, body.dark label::after, body.dark select {
    background-color: #2c2c2c;
    color: #ffffff;
}